USE [EVData]
GO
/****** Object:  Table [dbo].[BodyStyle]    Script Date: 6/2/2021 4:04:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyStyle](
	[BodyStyleID] [smallint] NOT NULL,
	[BodyStyle] [char](10) NOT NULL,
 CONSTRAINT [PK_BodyStyle_1] PRIMARY KEY CLUSTERED 
(
	[BodyStyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Data]
) ON [Data]
GO
